body{
    font-family:Arial,sans-serif;
    margin:0 auto; 
    padding:0;
    color:black;
    background:url(files/images/fon.jpg) repeat top #353535;
    max-width: 470px;
}
a{
    color:#464951;
    text-decoration:underline;
}
a:hover{
    
}

div.page{
    text-align:center;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 5px ; 
    border : 1px solid #1f1f1f; 
    color:black;
     font-size:12px;
     text-align:left;
    overflow: auto;
    background:#D3CFCF;
}
div.button{
    text-align:center;
    overflow: auto;
    background:#918C8C;
}
#border{
    border:1px solid #1f1f1f;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius:10px; 
}
div.message_good{
    border:1px solid #918C8C;
    background-color:orange;
}
div#center{
    text-align: :center;
}
textarea{
    width:95%;
    height:60px;
}
.bottomLine{
    bottom-line:1px solid black;
}