body{
    font-family:Arial,sans-serif;
    margin:0 auto; 
    padding:0;
    color:black;
    background:url(files/images/fon.jpg) repeat top #353535;
    width: 1000px;
}
a{
    color:#464951;
    text-decoration:underline;
}
a:hover{
    
}

div.page{
    text-align:center;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 5px ; 
    border : 1px solid #1f1f1f; 
    color:black;
     font-size:12px;
     text-align:left;
    overflow: auto;
    background:#D3CFCF;
}
div.button{
    text-align:center;
    overflow: auto;
    background:#918C8C;
}
#border{
    border:1px solid #1f1f1f;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius:10px; 
}
div.menu{
    float:left;
    width:200px;
    text-align:center;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 5px ; 
    border : 1px solid #1f1f1f; 
    color:black;
     font-size:12px;
     text-align:left;
    overflow: auto;
    background:#D3CFCF;
}
div.page_in{
    margin-left:20px;
    padding:20px 20px 20px 20px;
    float:left;
    width:700px;
    border:1px solid black;
}
h3{
    text-align: center;
}